@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "./functions";
@import "./variables";

//WIDTH
$width-map: (
    10: 10%,
    15: 15%,
    125: 125%,
  ); 
@each $name, $value in $width-map {
    .w-#{$name} {
        width: $value;
    }
}

//BORDER
.no-border {
  border: none !important;
}
.no-radius {
  border-radius: 0 !important;
}
@mixin b-profile{
border-bottom: 1px solid $secondary,
}
.bprofile {
  @include b-profile;
}

@mixin b-profilet{
border-top: 1px solid $secondary,
}
.bprofilet {
  @include b-profilet;
}

//FONT
$foont : "Rubik", sans-serif;
@mixin fontNetflix {
  font-family: $foont;
  font-weight: 600;
}
.fooont {
  @include fontNetflix;
}

//CHECKED
.form-check-input.transparent-checkbox {
    background-color: transparent;
    border: 1px solid #838383ba;
  }

  .form-check-input.transparent-checkbox:checked {
    background-color: #787879; 
    border-color: #5a5a5aba;
  }

  //EFFETTO ALL HOVERINO
  .card{
    transition: all 0.8s ease-in;
    &:hover{
      transform: scale(1.2);
      overflow: visible
    }
  }


@import "./bootstrap.scss";